<div class="section">
            <p> Query Parameters </p>
    </div>
    <br>
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()"> 
        <div class="clr-row">
                <div class="clr-col-md-4 clr-col-sm-12">
                    <label for="to_tech_stack">Parameters Pane</label>
                        <textarea id="para_pane" formControlName="para_pane" style="height: 150px;width: 600px;" type="text"  
                        >
                        </textarea>
                 </div>
        </div>
        <div style="padding: 2px 2px; font-size: 15px; border-radius: 10px;" type="submit" >
                <button class="btn btn-primary">Run Report</button>
        </div>

    </form>


<div class="section">
        <p> Query Result </p>
  </div>

  <div class="pad-16">

    <ngx-datatable
        style='width:900px;'
        [rows]="rows"
        [columns]="columns"
        
    >
    </ngx-datatable>
</div>