

<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/']">Home</a></li>
  <li><a href="javascript://">TOS</a></li>

</ol>


<div class="dg-wrapper">
  <div class="clr-row">

    <div class="clr-col-12" style="text-align: right;">
      <button class="btn btn-outline" (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>
      <button id="add" class="btn btn-primary" (click)="goToAdd()">
        <clr-icon shape="plus"></clr-icon>ADD
      </button>
    </div>
  </div>


  <clr-modal [(clrModalOpen)]="modalAdd" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Add  Data</h3>
    <div class="modal-body" >
      <form>
        <div class="clr-row" style="height: fit-content;">
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="name">TOS Code<span class="required-field">*</span></label>
            <input type="text" class="clr-input" name="code">
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="email">Active</label>
            <input type="text" class="clr-input" name="description">
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="subject">Value<span class="required-field">*</span></label>
            <input type="text" class="clr-input" name="value">
          </div>
        </div>

        <br>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalAdd = false">Cancel</button>
          <button type="submit" class="btn btn-primary" >ADD</button>
          </div>
    </form>
    </div>
  </clr-modal>




  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-placeholder>user not found!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      No
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'code'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      TOS Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'shortcode'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Short Code
      </ng-container>
      </clr-dg-column >
    <clr-dg-column [clrDgField]="'active'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Active
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'description'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Description
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="" [clrDgItem]="user">
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.code}}</clr-dg-cell>
      <clr-dg-cell>{{user.shortcode}}</clr-dg-cell>
      <clr-dg-cell>{{user.description}}</clr-dg-cell>

      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user)">Edit</button>
        <button class="action-item" (click)="onDelete(user)">Delete</button>
      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">Id</td>
            <td class="td-content">{{user.id}}</td>
          </tr>
          <tr>
            <td class="td-title"> Code</td>
            <td class="td-content">{{user.code}}</td>
          </tr>
          <tr>
            <td class="td-title">Value</td>
            <td class="td-content">{{user.value}} </td>
          </tr>
          <tr>
            <td class="td-title">Description</td>
            <td class="td-content">{{user.description}}</td>
          </tr>
        </table>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal [(clrModalOpen)]="modaledit" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Edit Department Data</h3>
  <div class="modal-body" *ngIf="rowSelected.id">
    <h2 class="heading">{{rowSelected.id}}</h2>

   ---------form ----data
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modaldelete"  [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Are You Sure Want to delete?</h3>
  <div class="modal-body" >
    <h2 class="heading"></h2>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modaldelete = false">Cancel</button>
    <button type="button"  class="btn btn-primary" >Delete</button>
    </div>
  </div>
</clr-modal>
