
<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/']">Home</a></li>
  <li><a href="javascript://">Regular Credit Note  Approval </a></li>

</ol>


<div class="dg-wrapper">
  <div class="clr-row">

    <div class="clr-col-12" style="text-align: right;">
      <button class="btn btn-outline" (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>

    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-md-4 clr-col-sm-12">
        <label for="tags">Credit Note Number</label>
        <input  type="text"  class="clr-input"  name="invoice">
     </div>
     <div class="clr-col-md-4 clr-col-sm-12">
      <label for=""> Location Code</label>
    <select name="" id="">
      <option value=""></option>
    </select>
   </div>
   <div class="clr-col-md-4 clr-col-sm-12">
    <label for="tags">Invoice number</label>
    <input  type="text"  class="clr-input"  name="invoice">
 </div>
 <div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Customer Code</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Customer Name</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
</div>



  <clr-modal [(clrModalOpen)]="modalAdd" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Add data</h3>
    <div class="modal-body" >


      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalAdd= false">Cancel</button>
      <button type="button"  class="btn btn-primary" >Delete</button>
      </div>
    </div>
  </clr-modal>




  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-placeholder>user not found!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      No
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'CNID'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      CN ID
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'cnnum'"><ng-container *clrDgHideableColumn="{hidden: false}">
        CN NUM
      </ng-container></clr-dg-column >
    <clr-dg-column [clrDgField]="'cn type'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      CN TYPE
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'in_customer_name'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Customer Number
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'parentinvnum'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Parent Inv Num
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'locationcode'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Location Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'curreency code'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Currency Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'reason'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Reason
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'approveddate'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Approved Date
    </ng-container></clr-dg-column>

    <clr-dg-column [clrDgField]="'in_status'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Status
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="let user of givendata" [clrDgItem]="user">
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.cnid}}</clr-dg-cell>
      <clr-dg-cell>{{user.cnnum}}</clr-dg-cell>
      <clr-dg-cell>{{user.cntype}}</clr-dg-cell>
      <clr-dg-cell>{{user.customernumber}}</clr-dg-cell>
      <clr-dg-cell>{{user.parentinvnum}}</clr-dg-cell>
      <clr-dg-cell>{{user.locationcode}}</clr-dg-cell>
      <clr-dg-cell>{{user.currencycode}}</clr-dg-cell>
      <clr-dg-cell>{{user.reason}}</clr-dg-cell>
      <clr-dg-cell>{{user.status}}</clr-dg-cell>
      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user.id)">Edit</button>
        <button class="action-item" (click)="onDelete()">Delete</button>
      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">NO</td>
            <td class="td-content">{{user.id}}</td>
          </tr>
          <tr>
            <td class="td-title">CN ID</td>
            <td class="td-content">{{user.cnid}}</td>
          </tr>
          <tr>
            <td class="td-title">CN NUM</td>
            <td class="td-content">{{user.cnnum}} </td>
          </tr>


        </table>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>


