<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <a href="#" class="logo">
          <img class="img" src="assets/images/icon/micrologo.png" alt="" height="50" width="50">
        </a>
        <div style="width:40px;margin-right:10px;">

      </div>
        <span class="title">cloudnSure</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link nav-icon" routerLink="/cns-portal/dashboard/order">
        <clr-icon shape="home"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="folder"></clr-icon>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>








    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon><label style="line-height: 60px; cursor: pointer;"> {{userName}}</label>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem routerLink="/cns-portal/about">About</a>
          <a href="javascript://" clrDropdownItem routerLink="profile-settings">Profile Settings</a>
          <a href="javascript://" clrDropdownItem routerLink="myworkspace">My Workspaces</a>
          <a href="javascript://" clrDropdownItem routerLink="/cns-portal/passwordreset">Change Password</a>
          <a href="javascript://" clrDropdownItem (click)="onLogout()">Log out</a>

        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">

      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Admin
        <clr-vertical-nav-group-children>

          <a clrVerticalNavLink routerLink="./log" routerLinkActive="active">
            Log Configuration
          </a>
          <a clrVerticalNavLink routerLink="./university" routerLinkActive="active">
            headerlinesmodal
          </a>

        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="scroll" clrVerticalNavIcon></clr-icon>
        Job
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./scheduler" routerLinkActive="active">
            JobLogs
          </a>
          <a clrVerticalNavLink routerLink="./pipeline" routerLinkActive="active">
            PendingJobs
          </a>
          <a clrVerticalNavLink routerLink="./scheduleinfo" routerLinkActive="active">
            DefineJobs
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="lock" clrVerticalNavIcon></clr-icon>
        Security
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./usermaintance" routerLinkActive="active">
            User Maintance
          </a>
          <!-- <a clrVerticalNavLink routerLink="./usergrpmaintance" routerLinkActive="active">
            UserGroup Maintance
          </a>
          <a clrVerticalNavLink routerLink="./menuaccess" routerLinkActive="active">
            MenuAccess Control
          </a>
        <a clrVerticalNavLink routerLink="./systemparameters" routerLinkActive="active">
            System Parameters
          </a>
        <a clrVerticalNavLink routerLink="./menumaintance" routerLinkActive="active">
            Menu Maintance
          </a>
          <a clrVerticalNavLink routerLink="./documnetmaster" routerLinkActive="active">
            Document Master
          </a>
          <a clrVerticalNavLink routerLink="./documentstructure" routerLinkActive="active">
            Document Structure
          </a>
          <a clrVerticalNavLink routerLink="./documentreference" routerLinkActive="active">
            Document Refrence
          </a>
        -->
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>




      <div *ngFor="let menu of menus">
        <!-- NEED MODIFICATION-->
        <!-- <div *ngIf="menu.sub_menus.length >=1;then content else other_content"></div> -->
        <div *ngIf="menu.subMenus !== null && menu.subMenus.length >=1;then content else other_content"></div>
        <ng-template #content>
            <!-- if sub munu is present -->
                <clr-vertical-nav-group routerLinkActive="active">
                    <clr-icon [attr.shape]="menu.mainMenuIconName" clrVerticalNavIcon></clr-icon>
                    {{ menu.menuItemDesc }}
                    <!-- SUB NAV-->
                    <clr-vertical-nav-group-children *ngFor="let subnav of menu.subMenus">
                        <a clrVerticalNavLink [routerLink]="'./' + subnav.mainMenuActionName" routerLinkActive="active">
                           <!-- <clr-icon [attr.shape]="subnav.mainMenuIconName" clrVerticalNavIcon></clr-icon>-->
                            {{ subnav.menuItemDesc }}
                        </a>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
            <!-- </div> -->
        </ng-template>
        <ng-template #other_content>
           <!-- if sub menu is not present -->
            <a clrVerticalNavLink routerLinkActive="active" [routerLink]="'./'+ menu.mainMenuActionName">
               <clr-icon [attr.shape]="menu.mainMenuIconName" clrVerticalNavIcon></clr-icon>
                {{ menu.menuItemDesc }}
            </a>
        </ng-template>
    </div>

    <a  clrVerticalNavLink routerLinkActive="active"  routerLink="/cns-portal/project/all">
      <clr-icon  clrVerticalNavIcon shape="flag"></clr-icon>
     My Projects </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allproject" [queryParams]="{ tab: 'mypro' }">
      <clr-icon  clrVerticalNavIcon shape="flag"></clr-icon>
     All Projects </a>

     <a  clrVerticalNavLink routerLinkActive="active" routerLink="./sureboard">
      <clr-icon  clrVerticalNavIcon shape="view-columns"></clr-icon>
     SureBoard </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allproject" [queryParams]="{ tab: 'temp' }">
      <clr-icon  clrVerticalNavIcon shape="plugin"></clr-icon>
     Templates </a>
     <a  clrVerticalNavLink routerLinkActive="active" >
      <clr-icon  clrVerticalNavIcon shape="objects"></clr-icon>
     Repositories </a>
     <a  clrVerticalNavLink routerLinkActive="active"  routerLink="/cns-portal/allprojectcard">
      <clr-icon  clrVerticalNavIcon shape="clock"></clr-icon>
     Recently Modified </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allprojectcard1">
      <clr-icon  clrVerticalNavIcon shape="trash"></clr-icon>
     Recently Archieved </a><hr>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allprojectcard2">
      <clr-icon  clrVerticalNavIcon shape="users"></clr-icon>
     Shared with me </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allprojectcard3">
      <clr-icon  clrVerticalNavIcon shape="heart"></clr-icon>
     My Fav </a>
     <a  clrVerticalNavLink routerLinkActive="active" >
      <button id="add" class="btn btn-primary" style="width: 200px; position: fixed;bottom: 0; left: 0;">
        <clr-icon shape="plus"></clr-icon>ADD A new Team
      </button> </a>
    </clr-vertical-nav>

  </div>

</clr-main-container>
