<div class="btn-group" id="center">
  <div class="checkbox btn">
    <input type="checkbox" id="btn-demo-check-1" (click)="goTorepo()" checked />
    <label for="btn-demo-check-1">REPO VIEW</label>
  </div>
  <div class="checkbox btn">
    <input type="checkbox" id="btn-demo-check-2" (click)="goTproject()" />
    <label for="btn-demo-check-2">PROJECT VIEW</label>
  </div></div>

<div class="tablem"  id="Div1" >
  <table class="table">
      <thead>
           <tr>
             <th></th>
   <th> <clr-icon shape="container"></clr-icon> Name</th>
       <th> <clr-icon shape="plugin"></clr-icon> Build Templates</th>
        <th><clr-icon shape="world"></clr-icon> Open Port</th>
         <th><clr-icon shape="nodes"></clr-icon> Service Name</th>
         <th><clr-icon shape="history"></clr-icon> Status</th>
         <th><clr-icon shape="bars"></clr-icon> Action</th>
          </tr>
        </thead>
           <tbody>
              <tr>
                <td><clr-icon shape="stop"></clr-icon></td>
                  <td>  Spring Boot Service for Students </td>
                   <td></td>
                   <td><clr-icon shape="stop"></clr-icon></td>
                   <td></td>
                   <td><clr-icon shape="code"></clr-icon>
                    <span style="padding: 20px;"><clr-icon shape="container"></clr-icon></span>
                    <clr-icon shape="node"></clr-icon></td>
                 <td><clr-icon shape="play"></clr-icon>
                  <span style="padding: 20px;"><clr-icon shape="Settings"></clr-icon></span>
                  <span style="padding: 10px;"><clr-icon shape="launchpad"></clr-icon></span>
                  <span style="padding: 20px;"><clr-icon shape="terminal"></clr-icon></span>
                  <clr-icon shape="lock"></clr-icon></td>
                  </tr>
                  <tr>
                    <td><clr-icon shape="stop"></clr-icon></td>
                    <td> Spring Boot Service for Courses </td>
                     <td></td>
                     <td><clr-icon shape="stop"></clr-icon></td>
                     <td></td>
                     <td><clr-icon shape="code"></clr-icon>
                      <span style="padding: 20px;"><clr-icon shape="container"></clr-icon></span>
                      <clr-icon shape="node"></clr-icon></td>
                   <td><clr-icon shape="play"></clr-icon>
                    <span style="padding: 20px;"><clr-icon shape="Settings"></clr-icon></span>
                    <span style="padding: 10px;"><clr-icon shape="launchpad"></clr-icon></span>
                    <span style="padding: 20px;"><clr-icon shape="terminal"></clr-icon></span>
                    <clr-icon shape="lock"></clr-icon></td>
                    </tr>
                    <tr>
                      <td><clr-icon shape="stop"></clr-icon></td>
                      <td>  Spring Boot Service for Payments </td>
                       <td></td>
                       <td><clr-icon shape="stop"></clr-icon></td>
                       <td></td>
                       <td><clr-icon shape="code"></clr-icon>
                        <span style="padding: 20px;"><clr-icon shape="container"></clr-icon></span>
                        <clr-icon shape="node"></clr-icon></td>
                     <td><clr-icon shape="play"></clr-icon>
                      <span style="padding: 20px;"><clr-icon shape="Settings"></clr-icon></span>
                      <span style="padding: 10px;"><clr-icon shape="launchpad"></clr-icon></span>
                      <span style="padding: 20px;"><clr-icon shape="terminal"></clr-icon></span>
                      <clr-icon shape="lock"></clr-icon></td>
                      </tr>

</tbody> </table> </div>




<div class="tablem" id="Div2">
  <table class="table">
      <thead>
           <tr>
             <th></th>
   <th><clr-icon shape="container"></clr-icon> Name</th>
       <th> <clr-icon shape="namespace"></clr-icon> Name Space</th>
        <th><clr-icon shape="world"></clr-icon> URL</th>
         <th><clr-icon shape="history"></clr-icon> Status</th>
         <th><clr-icon shape="bars"></clr-icon> Action</th>
          </tr>
        </thead>
           <tbody>
              <tr>
                <td><clr-icon shape="stop"></clr-icon></td>
                  <td>  Spring Boot Service </td>
                   <td></td>
                   <td>Service1,Service2</td>

                   <td><clr-icon shape="code"></clr-icon>

                    <span style="padding: 20px;"><clr-icon shape="container"></clr-icon></span>
                    <clr-icon shape="node"></clr-icon></td>
                 <td><clr-icon shape="play"></clr-icon>
                  <span style="padding: 20px;"><clr-icon shape="Settings"></clr-icon></span>
                  <span style="padding: 10px;"><clr-icon shape="launchpad"></clr-icon></span>
                  <span style="padding: 20px;"><clr-icon shape="terminal"></clr-icon></span>
                  <clr-icon shape="lock"></clr-icon></td>
                  </tr>



</tbody> </table> </div>
