
<h3 style="font-weight: 600;display: inline;"> Non-Container Service Order Approval</h3>
<span class="label label-light-blue" style="display: inline;margin-left: 50px;">Edit Mode</span>
<hr>
<div>
  <div class="clr-row">
    <div class="clr-col-8">
        <label for="tags" style="font-weight: 600;">Order Id:{{id}} </label>
     </div>
     <div  class="clr-col-4" style="text-align: right;">
      <button class="btn btn-icon">
        <clr-icon shape="ellipsis-vertical" class="is-solid" size="25"></clr-icon>
      </button></div>
</div>
<!--whocolums-->
<form>




<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-12">
    <div class="card">
      <div class="card-header">
        Prepared By
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <div class="card-media-description">
            <span class="card-media-title">
              Name:{{givendata.preparerName}}
              </span>
            <span class="card-media-text">
              Position Description: {{givendata.preparerPositionDesc}}
            </span>
            <span>
              Request Time:{{givendata.requestDateFormated}}
            </span>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="clr-col-lg-3 clr-col-12">
    <div class="card">
      <div class="card-header">
        Approved By
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <div class="card-media-description">
            <span class="card-media-title">
              Name:{{givendata.approverName}}
              </span>
            <span class="card-media-text">
              Position Description:
            </span>
            <span>
              Approved Date:
            </span>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="clr-col-lg-3 clr-col-12">
    <div class="card">
      <div class="card-header">
        Re-Invoice
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <div class="card-media-description">
            <span class="card-media-title">
              Dipute Id:{{givendata.re_id}}
              </span>
              <span  style="right: 10px;position: absolute;color: blue;">
                <clr-icon shape="view-list"></clr-icon>
              </span>
            <span class="card-media-text">
              Invoice No:{{givendata.re_invoice_no}}
              <span style="right: 10px;position: absolute;color: blue;">
                <clr-icon shape="details"></clr-icon>
                </span>

            </span>
            <span>
              Invoice Date:{{givendata.re_invoice_date}}
              </span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</form>


<form>

    <h6 style="font-weight: 700;">Order Details</h6>
    <hr>
    <div class="clr-row">
      <div class="clr-col-md-3 clr-col-sm-12">
          <label for="tags">Status</label>
          <input  type="text"  class="clr-input" [(ngModel)]="givendata.status"   name="status">
       </div>

      <div class="clr-col-md-3 clr-col-sm-12">
        <label for="tags">Invoice Type<span class="required-field">*</span></label>
        <select  id="" [(ngModel)]="givendata.invoiceType" name="invoiceType">
          <option value="">WATER</option>
          <option value="">NEW ZEALAND</option>
          <option value="">RECOVERABLE</option>
          <option value="">REEFER</option>
          <option value="">REEFER REPAIR</option>
          <option value="">RENTAL</option>
          <option value="">SERVICE ORDER</option>
          <option value="">SORDER</option>
          <option value="">STORAGE EMPTY</option>
          <option value="">STORAGE EMPTY POOL</option>
          <option value="">STORAGE EXPORT</option>
          <option value="">STORAGE IMPORT</option>
          <option value="">STORAGE INLAND TRANSSHIPMENT</option>
          <option value="">STORAGE POOL</option>
          <option value="">STORAGE TRANSSHIPMENT</option>
          <option value="">SUNDRY</option>
          <option value="">SURCHARGE</option>
          <option value="">TRAIN</option>
          <option value="">UTILITY</option>
          <option value="">VESSEL</option>

        </select>
      </div>

      <div class="clr-col-md-3 clr-col-sm-12">
        <label for="tags">Customer Order No</label>
        <input id="phone" type="text"  class="clr-input" [(ngModel)]="givendata.customerOrderNo" name="customerOrderNo">
      </div>
      <div class="clr-col-md-3 clr-col-sm-12">
        <label for="tags">Service Request By</label>
        <input  type="text"  class="clr-input" [(ngModel)]="givendata.serviceRequestBy"  name="serviceRequestBy">
     </div>
    </div>
      <div class="clr-row">
          <div class="clr-col-md-3 clr-col-sm-12">
          <label for="tags">Service Rendered Form</label>
          <input id="department" type="text"  class="clr-input" [(ngModel)]="givendata.serviceRenderedFromFormated" name="serviceRenderedFromFormated">
        </div>

        <div class="clr-col-md-3 clr-col-sm-12">
          <label for="tags">Service Rendered To</label>
          <input id="phone" type="text"  class="clr-input" [(ngModel)]="givendata.serviceRenderedToFormated" name="serviceRenderedToFormated">
        </div>
        <div class="clr-col-md-3 clr-col-sm-12">
          <label for="tags">Vessel Code</label>
          <input  type="text"  class="clr-input" [(ngModel)]="givendata.vesselCode"  name="vesselCode">

       </div>
<div class="clr-col-md-3 clr-col-sm-12" style="margin-top: 25px;">
<button style="margin-right: 5px;" >NAVIS</button>
<button >PMOD</button>
</div>
      </div>
        <div class="clr-row">
          <div class="clr-col-md-3 clr-col-sm-12">
            <label for="tags">Vessel Name</label>
            <input  type="text"  class="clr-input" [(ngModel)]="givendata.vesselName" name="vesselName">
          </div>

          <div class="clr-col-md-3 clr-col-sm-12">
            <label for="tags">In Voyage</label>
            <input  type="text"  class="clr-input" [(ngModel)]="givendata.inVoyage" name="inVoyage">
          </div>
          <div class="clr-col-md-3 clr-col-sm-12">
            <label for="tags">Out Voyage</label>
            <input  type="text"  class="clr-input" [(ngModel)]="givendata.outVoyage"   name="outVoyage">

         </div>
                <div class="clr-col-md-3 clr-col-sm-12">
           <label for="tags">Service Id</label>
            <input  type="text"  class="clr-input" [(ngModel)]="givendata.serviceId" name="serviceId">
               </div>
        </div>
          <div class="clr-row">
              <div class="clr-col-md-3 clr-col-sm-12">
              <label for="tags">Line Code</label>
              <input  type="text"  class="clr-input" [(ngModel)]="givendata.lineCode" name="lineCode">
            </div>
            <div class="clr-col-md-3 clr-col-sm-12">
              <label for="">call no</label>
              <input  type="text"  class="clr-input" [(ngModel)]="givendata.callNo"  name="callNo">
            </div>
            <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">LOA</label>
                <input  type="text"  class="clr-input" [(ngModel)]="givendata.loa"  name="loa">
             </div>

            <div class="clr-col-md-3 clr-col-sm-12">
              <label for="tags">LOA UOM</label>
              <input  type="text"  class="clr-input" [(ngModel)]="givendata.loaUom" name="loaUom">
            </div>
            </div>

              <div class="clr-row">
              <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">GT</label>
                <input  type="text"  class="clr-input" [(ngModel)]="givendata.gt" name="gt">
              </div>
              <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">Location</label>
                <input  type="text"  class="clr-input" [(ngModel)]="givendata.location"  name="location">
              </div>
              <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">ATA</label>
                <input  type="datetime-local"  class="clr-input" [(ngModel)]="givendata.ata" name="ata">
             </div>
             <div class="clr-col-md-3 clr-col-sm-12">
              <label for="tags">ATD</label>
              <input  type="datetime-local"  class="clr-input" [(ngModel)]="givendata.atd"  name="atd">
            </div>
            </div>
              <div class="clr-row">
                <div class="clr-col-md-3 clr-col-sm-12">
                  <label for="tags">Po NO.</label>
                  <input  type="text"  class="clr-input" [(ngModel)]="givendata.poNumber" name="poNumber">
                </div>
                <div class="clr-col-md-2 clr-col-sm-12">
                  <label for="tags">Customer Code<span class="required-field">*</span></label>
                  <input type="text" class="clr-input" [(ngModel)]="givendata.customerCode" name="customerCode">
               </div>
               <div class="clr-col-md-1 clr-col-sm-12" style="margin-top: 15px;">
                <button  class="btn btn-icon btn-primary" >
                  <clr-icon shape="view-list"></clr-icon>
                </button>
              </div>
              <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">Speical Price</label>
                <input  type="text"  class="clr-input" [(ngModel)]="givendata.specialPrice"  name="specialPrice">
              </div>
              <div class="clr-col-md-3 clr-col-sm-12">
                <label for="tags">Customer Name</label>
                <input  type="text"  class="clr-input" [(ngModel)]="givendata.customerName" name="customerName">
              </div>
                </div>
                  <div class="clr-row">
                    <div class="clr-col-md-4 clr-col-sm-12">
                        <label for="tags">Remarks</label>
                        <textarea name="" id="" cols="40" rows="3" style="margin-top: 5px;"  [(ngModel)]="givendata.remarks" name="remarks">
                        </textarea>
                     </div>


                    </div>
  <!-- end row -->

  <h6> List of attachment(s)</h6>
  <form >
<div >
  <table class="table">
      <thead>
       <tr>
       <th>No</th>
        <th> File Name</th>
         <th>External</th>
         <th>Cancle</th>
          </tr>
        </thead>
           <tbody >
            <tr >
              <td style="width: 70px;"><!--<input type="text" class="clr-input" [(ngModel)]="attachment.attachmentId" name="attachmentId">--> </td>
              <td> <input type="file"  name="attachmentFilename"></td>
              <td style="width:40px;"> <input type="checkbox"  checked></td>
              <td>
                <a>
                  <clr-icon shape="trash" class="is-error"></clr-icon>
                </a>
              </td>
            </tr>

        </tbody>
        <button type="button" class="btn btn-primary button1" style="margin-left: 20px;">
          <clr-icon shape="plus"></clr-icon>
        </button>


      </table> </div></form>

      <div >
        <div class="section">
          <h6> List of item(s)</h6>
          </div>
        <table class="table">
            <thead>
             <tr>
             <th>No</th>
              <th> Item Code</th>
               <th>Item Descriptiom</th>
               <th>Total Unit</th>
               <th>Unit Price</th>
               <th>Line Total</th>
               <th>Cancle</th>
                </tr>
              </thead>
                 <tbody>
                  <tr *ngFor="let item of givendata.orderItems; let i = index;">
                    <td style="width: 20px;"><!--<input type="text"  [(ngModel)]="item.lineId" name="lineId">-->{{item.lineId}} </td>
                      <td >

                     <!-- <input type="text" style="width: 130px;" class="clr-input" [(ngModel)]="item.itemCode" name="itemCode">-->{{item.itemCode}}
                      <button style="margin-left: 12px;height: 30px;width: 30px;">V</button>
                    </td>
                    <td  style="width: 100px;"><!--<input type="text" class="clr-input" [(ngModel)]="item.itemDesc" name="itemDesc">-->{{item.itemDesc}}</td>
                    <td style="width: 100px;"><!--<input type="text" class="clr-input" [(ngModel)]="item.totalUnit" name="totalUnit">-->{{item.totalUnit}}</td>
                    <td style="width: 100px;"><!--<input type="text" class="clr-input" [(ngModel)]="item.unitPrice" name="unitPrice">-->{{item.unitPrice}}</td>
                    <td style="width: 100px;"><input type="text" class="clr-input"></td>
                    <td> <input type="checkbox"></td>
                  </tr>
              </tbody>
              <button type="button" class="btn btn-primary button1" style="margin-left: 20px;" >
                <clr-icon shape="plus"></clr-icon>
              </button>
            </table> </div>

<br>

<!--
  <div class="center">
    <div class="btn-group" >
      <div class="checkbox btn">
        <input type="checkbox" id="btn-demo-check-1" checked/>
        <label for="btn-demo-check-1" >Approve</label>
      </div>
      </div>
      <div class="btn-group">
      <div class="checkbox btn">
        <input type="checkbox" id="btn-demo-check-1" checked (click)="reject(id)" />
        <label for="btn-demo-check-1" >Reject</label>
      </div></div>

      <div class="btn-group" id="center">
          <div class="checkbox btn">
          <input type="checkbox" id="btn-demo-check-2"  />
          <label for="btn-demo-check-2">Close</label>
        </div></div>
      </div>-->
      <div style="text-align: center;">
        <button class="btn btn-success" (click)="update(id)">APPROVE</button>
        <button class="btn btn-warning" (click)="alert()">Reject</button>
        <button class="btn btn-primary">Cancle</button>

      </div>
</form>


<clr-modal [(clrModalOpen)]="modaldelete" [clrModalStaticBackdrop]="true">
  <div class="modal-body">
    <h1 class="delete">Are You Sure Want to Reject?</h1>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modaldelete = false">NO</button>
    <button type="button" (click)="reject(id)" class="btn btn-primary" >YES</button>
    </div>
  </div>
</clr-modal>
















