
<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/cns-portal/dashboard/order']"><clr-icon shape="home"></clr-icon></a></li>
  <li><a href="javascript://">USER Maintance</a></li>

</ol>


<div class="dg-wrapper">
  <div class="clr-row">

    <div class="clr-col-12" style="text-align: right;">
      <button class="btn btn-outline" (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>
      <button id="add" class="btn btn-primary" (click)="goToAdd()">
        <clr-icon shape="plus"></clr-icon>ADD
      </button>
    </div>
  </div>







  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-placeholder> <clr-spinner>Loading ...</clr-spinner></clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'Id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    NO
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'username'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      User Name
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'fullName'" style="width: 200px;"><ng-container *clrDgHideableColumn="{hidden: false}">
      Full Name
      </ng-container></clr-dg-column >
    <clr-dg-column [clrDgField]="'departmentCodeString'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Department Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'usrGrpName'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      User Group
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'customerNumer'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Customer Number
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'status'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Status
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="let user of givendata;let i = index" [clrDgItem]="user">
      <clr-dg-cell>{{i+1}}</clr-dg-cell>
      <clr-dg-cell>{{user.username}}</clr-dg-cell>
      <clr-dg-cell >{{user.fullName}}</clr-dg-cell>
      <clr-dg-cell>{{user.departmentCodeString}}</clr-dg-cell>
      <clr-dg-cell>{{user.usrGrpName}}</clr-dg-cell>
      <clr-dg-cell>{{user.customerNumer}}</clr-dg-cell>
      <clr-dg-cell>{{user.status}}</clr-dg-cell>

      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user.userId)">Edit</button>

      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">username</td>
            <td class="td-content">{{user.username}}</td>
          </tr>


        </table>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Record per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} Records
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>


