
<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/']">Home</a></li>
  <li><a href="javascript://">Non-Container Service Order Approval</a></li>

</ol>


<div class="dg-wrapper">
  <div class="clr-row">

    <div class="clr-col-12" style="text-align: right;">
      <button class="btn btn-outline" (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>

    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-md-4 clr-col-sm-12">
      <label for="tags">Request  Date to</label>
      <input  type="text"  class="clr-input"  name="cnid">
   </div>
    <div class="clr-col-md-4 clr-col-sm-12">
        <label for="tags">Customer Order No</label>
        <input  type="text"  class="clr-input"  name="invoice">
     </div>
     <div class="clr-col-md-4 clr-col-sm-12">
      <label for="tags">Status</label>
      <select name="" id="" (change)="selectChangeHandler($event)">
        <option >Redy For Approval</option>
        <option >pending</option>
      </select>
   </div>
    </div>

  <clr-modal [(clrModalOpen)]="modalAdd" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Add data</h3>
    <div class="modal-body" >


      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalAdd= false">Cancel</button>
      <button type="button"  class="btn btn-primary" >Delete</button>
      </div>
    </div>
  </clr-modal>




  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-placeholder><clr-spinner>Loading ...</clr-spinner></clr-dg-placeholder>
    <clr-dg-column [clrDgField]="'id'"  style="width:10px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      NO
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'orderId'" style="width: 5px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Order ID
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'requestDateFormated'" style="width: 100px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Request Date
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'invoiceType'" style="width: 100px;">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Invoice Type
      </ng-container>
      </clr-dg-column >
    <clr-dg-column [clrDgField]="'customerCode'" style="width: 10px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Customer Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'customerName'" style="width: 120px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Customer Name
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'vesselCode'" style="width: 40px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Vessel Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'vesselName'" style="width: 50px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Vessel Name
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'inVoyage'" style="width: 40px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      In Voyage
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'outVoyage'" style="width: 40px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Out Voyage
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'preparedBy'" style="width: 20px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Preparedby
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'status'" style="width: 40px;"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Status
    </ng-container></clr-dg-column>

    <clr-dg-row *clrDgItems="let user of givendata;let i = index" [clrDgItem]="user">
      <clr-dg-cell class="a">{{i+1}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.orderId}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.requestDateFormated}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.invoiceType}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.customerCode}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.customerName}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.vesselCode}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.vesselName}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.inVoyage}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.outVoyage}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.preparedBy}}</clr-dg-cell>
      <clr-dg-cell class="a">{{user.status}}</clr-dg-cell>
      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user.orderId)">View</button>

      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">OrderId</td>
            <td class="td-content">{{user.orderId}}</td>
          </tr>
          <tr>
            <td class="td-title">Request Date</td>
            <td class="td-content">{{user.requestDateFormated}}</td>
          </tr>


        </table>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>


