@import '../../../../styles1.scss';


.td-title {
  text-align: center;
color: white;
  font-weight: bold;
  background-color: rgba(63, 122, 231, 0.863);
  //color: rgb(24, 13, 13);
}
.a{
  font-size:.6rem ;
}
