

<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/']">Home</a></li>
  <li><a href="javascript://">Customer Process</a></li>

</ol>


<div class="dg-wrapper">
  <div class="clr-row">

    <div class="clr-col-12" style="text-align: right;">
      <button class="btn btn-outline" (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>
      <button id="add" class="btn btn-primary" (click)="goToAdd()">
        <clr-icon shape="plus"></clr-icon>ADD
      </button>
    </div>
  </div>


  <clr-modal [(clrModalOpen)]="modalAdd" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Add Customer Data</h3>
    <div class="modal-body" >
      <form>
        <div class="clr-row" style="height: fit-content;">
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="name">Customer Code<span class="required-field">*</span></label>
            <input type="text" class="clr-input" name="customercode">
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="email">Customer Id<span class="required-field">*</span></label>
            <input type="text" class="clr-input" name="customerid">
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="subject">Free Demurrage Period</label>
            <input type="text" class="clr-input" name="freeperiod">
          </div>
          <div class="clr-col-md-4 clr-col-sm-12">
            <label for="name">Empty Pool Charge</label>
            <select name="" id="">
              <option value="">yes</option>
              <option value="">no</option>
            </select>
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="email">Empty Pool Combine</label>
            <select name="" id="">
              <option value="">yes</option>
              <option value="">no</option>
            </select>
          </div>
          <div class="clr-col-md-4 clr-col-sm-12">
            <label for="name">Empty Pool Storage Limit</label>
            <input type="text" class="clr-input" name="updatedby">
          </div>
            <div class="clr-col-md-4 clr-col-sm-12">
            <label for="email">Storage Pool Charge</label>
            <select name="" id="">
              <option value="">yes</option>
              <option value="">no</option>
            </select>
          </div>
        </div>
<br>
<div class="section"  style="display: flex;">
  <span><h3>Next Process Setting</h3></span>
  <span style="margin-left: 300px;"><h3>Backdate</h3></span>
</div>
<div id="container">

          <div class="clr-row">
            <div class="clr-col-lg-12">
              <table id="lines" class="table" style="width:50%;">
                <thead>
                  <tr>
                    <th class="left" >Invoice Type</th>
                    <th class="left">Next Process Date</th>
                    <th class="left"></th>
                    <th class="left">Confirm</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="left">
                      <label for="">Weight Scale</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local" >
                      </td>
                    <td class="left">
                   <input type="checkbox">Apply All
                    </td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">
                      <label for="">Reefer</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local">
                      </td>
                      <td></td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">
                      <label for="">Storage Import</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local">
                      </td>
                      <td></td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">
                      <label for="">Storage Transshipment</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local">
                      </td>
                      <td></td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">
                      <label for="">XXTESTING for testing</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local">
                      </td>
                      <td></td>
                        <td>
                      <input type="checkbox">
                    </td>
                  </tr>
                  <tr>
                    <td class="left">
                      <label for="">For test invoice Type Rule</label>
                    </td>
                    <td class="left">
                      <input type="datetime-local">
                      </td>
                      <td></td>
                    <td>
                      <input type="checkbox">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


<!--second table-->


<div class="clr-row">
  <div class="clr-col-lg-12">
    <table id="lines" class="table" style="width:50%;margin-left: 50px;">
      <thead>
        <tr>
          <th class="left" >No</th>
          <th class="left">TOS Code</th>
          <th class="left" >TOS Customer Code</th>
          <th class="left">Backdate</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <p style="margin-left: 50px;"> <input type="checkbox" checked>Make Sure to Perform Backdate As well(If Applicable)for:</p>
<ul style="margin-left: 50px;">
  <li>NAVIS-Vessel Confirmation</li>
  <li>PMOD-Vessel Confirmation</li>
  <li>Marine Charges Confirmation</li>
  <li>Train Confirmation</li>
</ul>
  </div>
</div>

        </div>

        <div class="clr-row" style="height: fit-content;">
          <div class="clr-col-md-3 clr-col-sm-12">
          <label for="name">CreatedBy</label>
          <input type="text" class="clr-input" name="customercode">
        </div>
          <div class="clr-col-md-3 clr-col-sm-12">
          <label for="email">CreatedOn</label>
          <input type="text" class="clr-input" name="customerid">
        </div>
          <div class="clr-col-md-3 clr-col-sm-12">
          <label for="subject">UpdatedBy</label>
          <input type="text" class="clr-input" name="freeperiod">
        </div>
        <div class="clr-col-md-3 clr-col-sm-12">
          <label for="subject">Updatedon</label>
          <input type="text" class="clr-input" name="freeperiod">
        </div>
</div>
        <br>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalAdd = false">Cancel</button>
          <button type="submit" class="btn btn-primary" >ADD</button>
          </div>
    </form>
    </div>
  </clr-modal>




  <clr-datagrid [clrDgLoading]="loading">
    <clr-dg-placeholder>user not found!</clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      No
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'customercode'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Customer Code
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'customerid'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        Customer Id
      </ng-container>
      </clr-dg-column >
    <clr-dg-column [clrDgField]="'freeperiod'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      FreeDemurrage period
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'freeperiod'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Empty Pool Charge
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'freeperiod'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Empty Pool Storage Limit
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'freeperiod'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Storage Pool Charge
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="" [clrDgItem]="user">
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.customercode}}</clr-dg-cell>
      <clr-dg-cell>{{user.customerid}}</clr-dg-cell>
      <clr-dg-cell>{{user.freedemurrageperiod}}</clr-dg-cell>
      <clr-dg-cell>{{user.emptypoolcharge}}</clr-dg-cell>
      <clr-dg-cell>{{user.emptypoolstoragelimit}}</clr-dg-cell>
      <clr-dg-cell>{{user.storagepoolcharge}}</clr-dg-cell>
      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user)">Edit</button>
        <button class="action-item" (click)="onDelete(user)">Delete</button>
      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">Id</td>
            <td class="td-content">{{user.id}}</td>
          </tr>
          <tr>
            <td class="td-title">Customer Code</td>
            <td class="td-content">{{user.departmentcode}}</td>
          </tr>
          <tr>
            <td class="td-title">customer id</td>
            <td class="td-content">{{user.active}} </td>
          </tr>
          <tr>
            <td class="td-title">FreeDemurrage period</td>
            <td class="td-content">{{user.description}}</td>
          </tr>
          <tr>
            <td class="td-title">Empty Pool Charge</td>
            <td class="td-content">{{user.createdby}}</td>
          </tr>
          <tr>
            <td class="td-title">Empty Pool Storage Limit</td>
            <td class="td-content">{{user.createdon}}</td>
          </tr>
          <tr>
            <td class="td-title">Updatedby</td>
            <td class="td-content">{{user.updatedby}}</td>
          </tr>
          <tr>
            <td class="td-title">Updatedon</td>
            <td class="td-content">{{user.updatedon}}</td>
          </tr>

        </table>
      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal [(clrModalOpen)]="modaledit" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Edit Department Data</h3>
  <div class="modal-body" *ngIf="rowSelected.id">
    <h2 class="heading">{{rowSelected.id}}</h2>

    <form clrForm (ngSubmit)="onUpdate(rowSelected.id)" >
      <div class="clr-row" style="height: fit-content;">
          <div class="clr-col-md-4 clr-col-sm-12">
          <label for="name">Customer Code<span class="required-field">*</span></label>
          <input type="text" class="clr-input" name="departmentcode" [(ngModel)]="rowSelected.departmentcode" >
        </div>
          <div class="clr-col-md-4 clr-col-sm-12">
          <label for="email">customerid</label>
          <input type="text" class="clr-input" name="description" [(ngModel)]="rowSelected.description">
        </div>
          <div class="clr-col-md-4 clr-col-sm-12">
          <label for="subject">FreeDemurrage period <span class="required-field">*</span></label>
          <select  [(ngModel)]="rowSelected.active" name="active">
            <option>Yes</option>
            <option >No</option>
          </select>
        </div>
        <div class="clr-col-md-4 clr-col-sm-12">
          <label for="name">Created By</label>
          <input type="text" class="clr-input" name="cretedby" [(ngModel)]="rowSelected.createdby">
        </div>
          <div class="clr-col-md-4 clr-col-sm-12">
          <label for="email">Created On</label>
          <input type="text" class="clr-input" name="cretedon" [(ngModel)]="rowSelected.createdon">
        </div>
        <div class="clr-col-md-4 clr-col-sm-12">
          <label for="name">Updated By</label>
          <input type="text" class="clr-input" name="updatedby" [(ngModel)]="rowSelected.updatedby">
        </div>
          <div class="clr-col-md-4 clr-col-sm-12">
          <label for="email">Updated On</label>
          <input type="text" class="clr-input" name="updatedon" [(ngModel)]="rowSelected.updatedon">
        </div>
      </div>
      <br>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="modaledit = false">Cancel</button>
        <button type="submit" class="btn btn-primary" >Update</button>
        </div>
  </form>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modaldelete"  [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Are You Sure Want to delete?</h3>
  <div class="modal-body" >
    <h2 class="heading"></h2>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modaldelete = false">Cancel</button>
    <button type="button"  class="btn btn-primary" >Delete</button>
    </div>
  </div>
</clr-modal>
