<h3 style="font-weight: 600;display: inline;">Credit Note</h3>
<h6 style="font-weight: 700;">Add Mode</h6>
    <hr>
    <div class="clr-row">
      <div class="clr-col-md-4 clr-col-sm-12">
          <label for="tags">Invoice Number</label>
          <input  type="text"  class="clr-input"  name="invoice">
       </div>
       <div class="clr-col-md-4 clr-col-sm-12">
        <label for="tags">Invoice Status</label>
        <input  type="text"  class="clr-input"  name="invoice">
     </div>
     <div class="clr-col-md-4 clr-col-sm-12">
      <label for="tags">Customer ID</label>
      <input  type="text"  class="clr-input"  name="invoice">
   </div>
   <div class="clr-col-md-4 clr-col-sm-12">
    <label for="tags">Interface Status</label>
    <input  type="text"  class="clr-input"  name="invoice">
 </div>
 <div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Location Code</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Currency Code</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Billing ID</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Comments</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Dispute Reference</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">Reason<span class="required-field">*</span></label>
  <select name="" id="">
    <option value=""></option>
  </select>
</div>
<div class="clr-col-md-4 clr-col-sm-12">
  <label for="tags">CN Status</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-3 clr-col-sm-12">
  <label for="tags">Discount% **</label>
  <input  type="text"  class="clr-input"  name="invoice">
</div>
<div class="clr-col-md-1 clr-col-sm-12">
  <button style="margin-top: 25px;">APPLY</button>
</div>
</div>

<h6> List of attachment(s)</h6>
<hr>
  <form action="" >
<div >
  <table class="table">
      <thead>
       <tr>
       <th>No</th>
        <th> File Name</th>
         <th>External</th>
         <th>Cancle</th>
          </tr>
        </thead>
           <tbody >
            <tr>
              <td>  </td>
              <td><input type="file"> </td>
              <td style="width:40px;"> <input type="checkbox"  checked></td>
              <td>
                <a >
                  <clr-icon shape="trash" class="is-error"></clr-icon>
                </a>
              </td>
            </tr>


        </tbody>
        <button type="button" class="btn btn-primary button1" style="margin-left: 20px;">
          <clr-icon shape="plus"></clr-icon>
        </button>

      </table> </div></form>
<hr>
      <form action="" >
        <div >
          <table class="table">
              <thead>
               <tr>
               <th>Line Number</th>
                <th>Item Code</th>
                 <th>Description</th>
                 <th>Invoice Unit Price</th>
                 <th>Total Amount</th>
                 <th>Reference</th>
                 <th>Account Code</th>
                 <th>Cost Center</th>
                 <th>Console Ref</th>
                 <th>UOM</th>
                 <th>Inv Quantity</th>
                 <th>Previous Quantity Credited</th>
                 <th>Quantity Credited</th>
                 <th>CN Unit Price</th>
                 <th>Total Amount</th>
                 <th>Reduced Unit Price</th>
                  </tr>
                </thead>
                   <tbody >
                    <tr>
                      <td> 1 </td>
                      <td>FGBG-SSO</td>
                      <td>MONTHLY GARBBGAE COLLECTION</td>
                      <td> 130.00</td>
                      <td>260.00</td>
                      <td></td>
                      <td>630700</td>
                      <td></td>
                     <td>200</td>
                     <td>MTH</td>
                     <td> 2.00 </td>
                      <td>0.00</td>
                      <td>2.00</td>
                      <td>13.00 </td>
                      <td>26</td>
                      <td>13</td>
                    </tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Grand Total</td>
  <td>26</td>
  <td></td>
  <td></td>
</tr>
                </tbody>
              </table> </div></form>

              <div class="center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" class="btn btn-primary">Ready for Approval</button>
                    <button type="submit" class="btn btn-primary">Close</button>
              </div>
